html {
	font-family: 'Nunito Sans', sans-serif; !important;
}

#main-header {
	background-color: #303030;
	width: 100%;
	border-radius: 0;
}

#header-logo {
	height: 5rem;;
}

.navbar {
	margin: 0 5%;
	background-color: #303030;
	padding-left: 0;
	padding-right: 0;
}


.navbar-nav .nav-item .nav-link:link, .nav-link:link,
.navbar-nav .nav-item .nav-link:visited, .nav-link:visited {
	color: white;
	font-size: 1.25em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

.navbar-nav .nav-item .nav-link:hover, .nav-link:hover,
.navbar-nav .nav-item .nav-link:active, .nav-link:active {
	color: white;
	font-size: 1.25em;
	text-decoration: underline;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#give-button {
	color: white;
	background-color: #386E93;
	border-color: #386E93;
	box-shadow: none;
	font-size: 1.25em;
	font-family: 'Nunito Sans', sans-serif; !important;
	margin-top: 0.5em;
	margin-bottom: 1em;
}

#give-button:hover, #give-button:active {
	background-color: #386E93;
	border-color: white;
	font-size: 1.25em;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	font-family: 'Nunito Sans', sans-serif; !important;
}

#intro-text {
	max-width: 1366;
	margin: 0 5%;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#training-img {
	width: 100%;
	height: 800px;
	object-fit: cover;
}

#career-over-h1 {
	font-size: 2.75em;
	font-weight: bold;
	padding-top: 2em;
	padding-bottom: 0.25em;
	max-width: 300px;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#prevents-and-treats-h2 {
	font-size: 1.5em;
	max-width: 75vw;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#learn-more-button {
	color: #303030;
	border-color: #FADD4F;
	background-color: #FADD4F;
	box-shadow: none;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 2em;
	font-size: 1.5em;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#learn-more-button:hover, #learn-more-button:active {
	border-color: #928E90;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#training-div {
	border-radius: 0;
}

.div {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#what-we-do-rehab-card {
	padding: 0;
}

#our-team-intro {
	max-width: 1366; 
	margin: 0 5%;
	padding-bottom: 4em;
	padding-top: 1em;
}

#apply-intro {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
}

#what-we-do-intro {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
}

#checklist-intro, #give-text-1, #instructions-text-1 {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
	padding-bottom: 1em;
}

#give-text-1 {
	text-align: left;
}

#give-text-2 {
	max-width: 1366; 
	margin: 0 5%;
	padding-bottom: 1em;
	text-align: left;
}

.checklist-body {
	max-width: 1366; 
	margin: 0 5%;
}

.what-we-do-header {
	color: #386E93;
	font-size: 3em;
	font-family: 'Nunito Sans', sans-serif; !important;
	margin: 0 5%;
}

.what-we-do-subheader {
	color: #303030;
	font-size: 2em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#what-we-do-subheader-rehab {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
}

#what-we-do-subheader-education {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
}

.what-we-do-text {
	color: #303030;
	font-size: 1.2em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#what-we-do-text-rehab {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 0.5em;
}

#what-we-do-text-education {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 0.5em;
}

.what-we-do-text-end {
	max-width: 1366;
	margin: 0 5%;
	padding-bottom: 2em;
}

#mission-div {
	background-color: white;
}

#mission-card-body {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5rem;
	background-color: white;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #386E93;
	margin-top: 10em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#mission-subheader {
	font-family: 'Nunito Sans', sans-serif; !important;
	text-align: center;
	color: #386E93;
	font-size: 3em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	font-weight: normal;
	padding-bottom: 0.5em;
}

#mission-text {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
	text-align: left;
}

.list-text {
	color: #303030;
	font-size: 1.3em;
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 1em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#blog-div {
	background-color: #ECECEC;
	padding-top: 8em;
}

#blog-header {
	text-align: left;
}

#apply-program-div {
	padding-bottom: 0;
	background-color: #ECECEC;
}

#apply-program-img {
	height: 400px;
	object-fit: cover;
}


#program-card-body {
	background-color: white;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 5%;
	padding-right: 5%;
}


#apply-program-row {
	padding-bottom: 4em;
	padding-top: 4em;
}

.text-link:link, .text-link:visited {
	color: #386E93;
	text-decoration: underline;
}

.text-link:hover, .text-link:active, {
	color: #386E93;
	text-decoration: underline;
}

.card {
	background-color: white;
	border: none;
	border-radius: 0;
}

.card-img-overlay {
	padding: 0;
}

.card-img {
	border-radius: 0;
}

.card-title {
	font-weight: bold;
}

.card-body {
	padding: 0;
}

#rehab-img, #education-img {
	height: 450px;
	width: 100%;
	object-fit: cover;
}

#read-more-button, #download-application-button, #mc-embedded-subscribe-give, #sponsor-button {
	color: white;
	border-color: #386E93;
	background-color: #386E93;
	box-shadow: none;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 2em;
	font-size: 1.5em;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif; !important;
	border-style: none;
}

#read-more-button:hover, #read-more-button:active, #download-application-button:hover, #download-application-button:active, #mc-embedded-subscribe:hover, #mc-embedded-subscribe:active, #mc-embedded-subscribe-give:hover, #mc-embedded-subscribe-give:active, #sponsor-button:hover, #sponsor-button:active, #sponsor-button, #learn-more-sponsor-button:active, #learn-more-sponsor-button:hover {
	border-color: #386E93;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-style: none;
}

#instagram-div {
	background-color: #E3EBED;
}

#instagram-img {
	height: 3em;
	width: auto;
}

#gym-footer-img {
	width: 100%;
	height: 307px;
	object-fit: cover;
	border-radius: 0;
}

#gift-img {
	height: 200px;
	width: auto;
	margin-top: 3em;
}

.footer-div {
	background-color: #303030;
}

#footer-content, #footer-copyright-div {
	margin: 0 5%;
}

#footer-copyright-text {
	padding-top: 48px;
	margin-top: 1.5rem;
	margin-bottom: 0;
}

.footer-title {
	color: white;
	font-size: 1.3em;
	font-weight: bold;
	padding-bottom: 0.5em;
	padding-top: 48px;
	font-family: 'Nunito Sans', sans-serif; !important;
}

.footer-text {
	color: white;
	font-size: 1em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#footer-logo {
	height: 7rem;
	width: auto;
	padding-bottom: 0.5em;
}

#footer-mission {
	padding-right: 20vw;
	font-size: 1em;
}


.about-bio {
	padding-top: 1em;
	padding-bottom: 5rem;
	padding-left: 5%;
	padding-right: 5%;
}

#mce-EMAIL {
	padding: 0 2em;
	border-radius: 8px;
	box-shadow: none;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: none;
	width: 300px;
	height: 40px;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#mc-embedded-subscribe {
	color: white;
	border-color: #386E93;
	background-color: #386E93;
	box-shadow: none;
	padding-left: 6em;
	padding-right: 6em;
	margin-top: 1em;
	font-size: 1em;
	font-weight: bold;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif; !important;
	cursor: pointer;
	width: 300px;
	height: 40px;
	border-style: none;
}

#mc-embedded-subscribe:hover, #mc-embedded-subscribe:active {
	border-color: #386E93;
	background-color: #386E93;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	border-style: none;
}

#mce-EMAIL-give {
	color: #303030;
	border-color: #303030;
	border-width: 0.5px;
	box-shadow: none;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 2em;
	font-size: 1.2em;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif; !important;
	width: 300px;
	font-weight: normal;
}

#mc-embedded-subscribe-give {
	width: 300px;
	cursor: pointer;
	margin-top: 1em;
	font-size: 1.75em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	font-weight: normal;
	box-shadow: none;
}


#about-card {
	max-width: 1366;
	margin: 0 5%;
}

#values-list {
	padding-left: 1em;
	padding-bottom: 2em;
}


.list-text {
	color: #303030;
	font-size: 1.2em;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#values-card-body {
	max-width: 90vw; 
	margin: 0 15%;
	padding-top: 0.5em;
	background-color: white;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

#values-subheader {
	font-family: 'Nunito Sans', sans-serif; !important;
	text-align: center;
	color: #386E93;
	font-size: 3.5em;
	font-weight: normal;
	padding-top: 0.25em;
}

#values-background {
	background-repeat: no-repeat;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

#download-application-button {
    white-space:normal !important;
    word-wrap: break-word; 
	margin-left: 5%;
	margin-right: 5%;
}

#learn-more-bottom-card {
	background-color: #35425D;
}

#learn-more-apply-link {
	text-decoration: none;
}

#apply-program-card {
	background-color: white;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

#learn-more-rehab-subheader {
	padding-top: 1em;
	padding-left: 5%; 
	padding-right: 5%;
}

#learn-more-prevent-subheader {
	padding-left: 5%; 
	padding-right: 5%;
	padding-top: 1em;
}

#learn-more-rehab-text {
	padding-left: 5%; 
	padding-right: 5%;
}

#learn-more-prevent-text {
	padding-left: 5%; 
	padding-right: 5%;
	margin-bottom: 0;
}

#what-we-do-rehab-card, #what-we-do-education-card {
	background-color: #ECECEC;
	padding-bottom: 5rem;
}

#learn-more-intro-div {
	background-color: #ecedee;
	padding-bottom: 4em;
}

#what-we-do-background {
	background-image: url('graphics/what-we-do-background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 75% 100%;
	}

#what-we-do-div {
	margin-left: 5%;
	margin-right: 5%;
}

#what-we-do-intro {
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 400px;
	margin-left: 0;
	padding-left: 0;
}

#dark-logo-img {
	width: 200px;
	padding-top: 4em;
}

#injuries-link {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
}

#values-background {
	height: 700px;
	object-fit: cover;
}

#values-card-body {
	max-width: 90vw; 
	padding-top: 0.5em;
	background-color: white;
	border-bottom-width: 8px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
	margin-top: 4em;
	padding-bottom: 0.5em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}


.what-we-do-text-end {
	text-align: left;
}

#values-div {
	background-color: #ECECEC;
}

#learn-more-subheader {
	font-family: 'Nunito Sans', sans-serif; !important;
	text-align: center;
	color: #386E93;
	font-size: 3em;
	font-weight: normal;
	padding-bottom: 0.5em;
	padding-left: 5%;
	padding-right: 5%;
}


.learn-more-row {
	max-width: 1366; 
	margin: 0 5%;
	margin-bottom: 5rem;
	margin-top: 5rem;
}

#learn-more-intro {
	text-align: left;
}

#learn-more-bottom-text {
	padding-left: 5%;
	margin-bottom: 0;
	color: white;
	font-size: 1.5em;
}

#learn-more-rehab-text {
	margin-bottom: 0;
}


#learn-more-bottom-img {
	height: 275px;
	object-fit: cover;
	border-radius: 0;
}


#learn-more-rehab-img {
	height: 450px;
	object-fit: cover;
}

#learn-more-prevent-img {
	height: 450px;
	object-fit: cover;
}

#learn-more-background {
	height: 500px;
	object-fit: cover;
	border-radius: 0;
}

#mission-background {
	height: 400px;
	object-fit: cover;
	border-radius: 0;
}


#training-img {
	border-radius: 0;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	margin: -5px -10px -10px -5px;
}


#apply-intro-background {
	border-radius: 0;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	margin: -5px -10px -10px -5px;
	opacity: 0.5;
}

#training-div, #apply-intro-div {
	overflow: hidden;
	border-radius: 0;
}

#mission-background {
	border-radius: 0;
	filter: brightness(0.9);
	opacity: 0.95;
}

#learn-more-intro, #mission-intro {
	padding-left: 5%;
	padding-right: 5%;
}

#mission-intro {
	text-align: left;
}

#learn-more-sponsor-button {
	color: white;
	border-color: #386E93;
	background-color: #386E93;
	box-shadow: none;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1.5em;
	font-size: 1.75em;
	border-radius: 8px;
	font-family: 'Nunito Sans', sans-serif; !important;
	max-width: 90vw;
}

#learn-more-card-body {
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 5rem;
	background-color: white;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: #386E93;
	padding-bottom: 5rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

#learn-more-bottom-card {
	padding-right: 5%;
}

#apply-intro-background {
	height: 500px;
	object-fit: cover;
}

#apply-program-div {
	background-color: #ECECEC;
}

#apply-intro-card-body {
	width: 850px;
	margin-top: 8em;
	border-color: rgba(255,255,255,0.6);
	border-width: 14px;
	border-style: solid;
	background-color: rgba(48,48,48,0.6);
	max-width: 90vw;
}


#apply-intro-header {
	font-size: 3em;
	font-family: 'Nunito Sans', sans-serif; !important;
	color: white;
	padding-bottom: 0.25em;
	padding-top: 0.25em;
	max-width: 90vw;
	padding-left: 5%;
	padding-right: 5%;
}

#apply-intro-subheader {
	font-size: 3em;
	color: #386E93;
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
}

#apply-kinetik-subheader {
	font-size: 2.25em;
	color: #386E93;
	padding-bottom: 0.25em;
	text-align: left;
}

#apply-intro-text {
	max-width: 1366;
	margin: 0 5%;
	padding-top: 1em;
}

#application-divider {
	border-width: 1px;
	border-color: #386E93;
	border-style: solid;
	max-width: 1366;
	margin: 0 5%;
	margin-top: 1em;
	margin-bottom: 1em;
}

#application-background {
	background-image: url('graphics/application-background.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	padding-top: 5rem;
}


#three-parts, #instructions-text-2 {
	max-width: 1366; 
	margin: 0 5%;
}

#application-row {
	max-width: 1366; 
	margin: 0 5%;
	padding-bottom: 2em;
	margin-top: 2em;
}

.application-box {
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #303030;
	border-bottom-width: 6px;
	border-bottom-color: #386E93;
	margin-left: 1em;
	margin-right: 1em;
	height: 280px;
	width: 250px;
}

#application-process-header, #instructions-header {
	text-align: left;
}

.application-box-header {
	color: #386E93;
}

.application-box-text {
	padding-left: 1em;
	padding-right: 1em;
}

#application-bottom-text {
	max-width: 1366; 
	margin: 0 5%;
	padding-top: 5rem;
	text-align: left;
}

.fa-hand-holding-heart, .fa-running, .fa-crutch {
	font-size: 72px;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	color: #303030;
}

#download-application-button {
	margin-bottom: 5rem;
	font-size: 1.35em;
}

#learn-more-div {
	background-color: white;
}

.our-story-subheader {
	display: flex;
	align-items: center;
	color: #386E93;
	font-size: 3em;
	font-family: 'Nunito Sans', sans-serif; !important;
	padding-bottom: 0.75em;
	padding-top: 5rem;
}

.our-story-divider {
	flex-grow: 1;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

#our-story-box {
	border-width: 2px;
	border-style: solid;
	border-color: #386E93;
	padding: 0.25em;
}

#our-story-card-body {
	max-width: 1366;
	margin: 0 10%;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

.our-story-intro {
	padding-bottom: 1em;
	text-align: left;
}

#our-story-logo {
	padding-top: 1em;
	padding-bottom: 5rem;
	width: 200px;
}

#team-subheader {
	font-family: 'Nunito Sans', sans-serif; !important;
	text-align: center;
	color: #386E93;
	font-size: 3em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	font-weight: normal;
	padding-bottom: 0.5em;
	padding-top: 5rem;
}

#instagram-text {
	margin-bottom: 0;
}

#learn-more-apply-p {
	margin-bottom: 0;
}

#learn-more-prevent-row {
    padding-bottom: 0;
}

#mission-intro {
	margin-bottom: 0;
}

#jp-bio, #as-bio, #cr-bio, #zr-bio {
	margin-bottom: 0;
}

#download-pdf-link {
	text-align: center;
	margin-bottom: 2.5rem;
}

#footer-donate-link:link, #footer-apply-link:link, #footer-refer-link:link, #footer-donate-link:visited, #footer-apply-link:visited, #footer-refer-link:visited {
	color: white;
}

#footer-donate-link:hover, #footer-apply-link:hover, #footer-refer-link:hover, #footer-donate-link:active, #footer-apply-link:active, #footer-refer-link:active {
	color: white;
}

#unsupported-div {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5em;
	margin-bottom: 2.5em;
}

#unsupported-header {
	font-size: 2em;
	color: #386E93;
}

#unsupported-address {
	line-height: 0.5em;
	text-align: center;
}

#unsupported-logo {
	width: 200px;
}

#intro-header {
	max-width: 700px;
	font-size: 2em;
	padding-left: 0;
	color: #386E93;
	font-family: 'Nunito Sans', sans-serif; !important;
}

#injury-screen-subheader {
	color: #386E93;
	font-weight: bold;
	font-size: 2em;
	padding-top: 0;
}

#injury-screen-hamstrings, #injury-screen-core, #injury-screen-ankle {
	font-size: 2em;
	font-weight: bold;
}

.injury-screen-box {
 	border: none;
	padding: 0.25em;
	max-width: 90vw;
}

.injury-screen-divider {
	flex-grow: 1;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #386E93;
}

.injury-screen-text-1 {
	text-align: left;
	margin: 0 5%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.injury-screen-text-2 {
	margin: 0 5%;
	text-align: left;
}

.injury-screen-exercise {
	padding-top: 1em;
	padding-bottom: 0.5em;
	font-size: 1.75em;
}

#injury-screen-intro-div {
	padding-bottom: 0;
}

#injury-screen-exercise-div {
	padding-top: 0;
	padding-bottom: 0;
}

.injury-screen-video-div {
	margin-left: auto;
	margin-right: auto;
}

.video-iframe {
	width: 426px; 
	height: 240px;
}

.video-iframe-bottom {
	margin-bottom: -6px;
}

#injury-screen-video-div-ankle {
	padding-bottom: 5rem;
}

#injury-screen-core-div {
	background-color: #ECECEC;
}

